server:
  port: 8080

spring:
  application:
    name: AMG-Core
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        webAllowOthers: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
  cache:
    type: simple
    cache-names:
      - products
      - users
      - productStats
  retry:
    max-attempts: 3

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
